<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Fowared Fitness Club</title>
        <meta charset="utf-8">
    </head>

        <body>
         <!-- use the header for the logo -->
            <header>
                <h1>Fowared Fitness Club</h1>
            </header>
            <!-- use nav area to add hyperlinks to link other pagers-->
            <nav>
                <p>Home &nbsp; &#9475; &nbsp;
                    About Us &nbsp; &#9475; &nbsp;
                    Classes  &nbsp; &#9475; &nbsp;
                    Nutrition &nbsp; &#9475; &nbsp;
                    Contact Us</p>
            </nav>
            <!--use main area to add main concept-->
            <main>
                
            </main>
            <!--use footer area to add webpage footer content-->
            <footer>
                <p>&copy; Copyrights 2023. All Rights Reserved</p>
                <p>fowardfitness@club.net</p>
            </footer>
        </body>
    
</html>